name: Trigger IG Build

on:
  push:
    branches:
      - '**'
  pull_request:
    types:
      - closed
    # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  trigger-build:
    runs-on: ubuntu-latest
    # Only run on merged PRs or direct pushes
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    
    steps:
      - name: Trigger IG Commit Build
        run: |
          curl --request POST \
            --url https://us-central1-fhir-org-starter-project.cloudfunctions.net/ig-commit-trigger \
            --header 'content-type: application/json' \
            --data "{\"ref\": \"refs/heads/${{ github.ref_name }}\",\"repository\": {\"full_name\": \"${{ github.repository }}\"}}"
